source https://api.nuget.org/v3/index.json
framework: netstandard2.0
storage: none

github eiriktsarpalis/TypeShape:8.0.0 src/TypeShape/TypeShape.fs
nuget FSharp.Core
nuget System.Reflection.Emit.Lightweight
nuget Newtonsoft.Json

nuget Microsoft.SourceLink.GitHub copy_local:true

group Testing
  framework: net8.0
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget FSharp.Core

  nuget NUnit
  nuget NUnit3TestAdapter version_in_path: true
  nuget Microsoft.NET.Test.Sdk
  nuget FsCheck
  nuget FsUnit

  nuget BenchmarkDotNet
  nuget protobuf-net
  nuget Newtonsoft.Json

group Build
  source https://api.nuget.org/v3/index.json
  generate_load_scripts: true
  framework: netstandard2.0
  storage: none

  nuget Fake.Core.UserInput
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Target
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.Cli
  nuget Fake.Tools.Git
  nuget Fake.Api.Github

  nuget FSharp.Formatting
